.slide-content {
background-color: aquamarine;
display: block;
position: absolute;
z-index: 1;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
#product-nav-slide #productheader h2 a img {
background-color: aquamarine;
margin-top: -5px;
}
.column.last {
float: right !important;
background-color: aquamarine;
}
#productheader * {
position: relative;
z-index: 2;
background-color: aquamarine;
}
#breadory #directorynav {
background: aquamarine;
clear: both;
float: none;
margin-top: 0;
}
#globalfooter #breadory ol #breadcrumbs {
background: aquamarine;
clear: both;
float: none;
height: 3em;
line-height: 3em;
font-size: 11px;
color: #666;
margin: 0;
list-style: none;
font-weight: bold;
text-shadow: 0 1px 0 #fff;
}